.upper-wave{
    width: 100%;
    background: rgb(45,66,253);
    background: linear-gradient(0deg, rgba(45,66,253,1) 16%, rgba(34,193,195,1) 87%);
    padding-bottom: 50px;
}
.custom-shape-divider-top-1612709491 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1612709491 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1612709491 .shape-fill {
    fill: #FFFFFF;
}

  
  